*
{
    font-family: Tahoma, Verdana;
    font-size: 11px;
}

p
{
    margin:3px 0 0 0;
    padding-right:5px;
}

h1
{
    margin-top:20px;
}


.total, .extra
{
    font-weight:bold;
}

.center
{
    text-align:center;
}

.right
{
    text-align: right;
}

span.label
{
    font-weight:bold;
}

.header
{
    background-color: #CCCCCC;
    height:20px;
    line-height:20px;
}

.header td
{
    font-weight:bold;
    padding: 2px 5px;
}

table#head td
{
    padding: 2px 5px;
}

.content-title
{
    color: #49648F;
    font-size: 15px;
    font-weight:bold;
}

.publish-date
{
    margin-bottom: 20px;
    font-weight:bold;
    font-size:12px;
    text-decoration:underline;
}

table.results
{
    border-collapse:collapse;
}

td.grid
{
    padding: 2px 5px;
    border: 1px solid #CCCCCC;
    white-space:nowrap;
}

table#team-ranking
{
    min-width:400px;
}

div#team-ranking-comment
{
    margin:10px 0;
    font-style:italic;
}

.wide-center
{
    padding: 0 30px !important;
    text-align:center;
}


table.base
{
    border-collapse:collapse;    
}

table.base td
{
    padding:0 5px;
    border: 1px solid #CCCCCC;
    padding: 5px;
}

table#lineup
{
    min-width:600px;
    margin-top:10px;  
}

table#injuries
{
    min-width:400px;   
}

table#organization
{
    margin-top:20px;
    min-width:600px 
}

table#referee
{
    margin-top:20px;
}

a.match-url
{
    color: #FF6C08;
    text-decoration:none;
    font-weight:bold;
}